body {
  font-family: sans-serif;
  margin: 20px;
  background: #fefefe;
  color: #333333;
}

header {
  background: #ffbf69;
  padding: 20px;
  text-align: center;
}

header input {
  padding: 10px;
  width: 80%;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

main {
  padding: 20px;
}

.receta {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

footer {
  text-align: center;
  padding: 20px;
  background: #eee;
  margin-top: 40px;
}
